{% extends 'layouts/app.html' %}

<!-- Inicio bloque body -->
{% block body %}
<div class="container">
    <h1 class="mt-5">Tareas</h1>
    <table id="mytable" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tarea</th>
                <th scope="col">Fecha inicio</th>
                <th scope="col">Fecha Final</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for row in tasks %}
            <tr>
                <td>{{row.id}}</td>
                <td>{{row.task}}</td>
                <td>{{row.date_begin}}</td>
                <td>{{row.date_end}}</td>
                <td>
                    <button data-id="{{row.id}}" id="btnEdit" class="btn btn-primary"><i class="fa fa-edit"></i></button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
<!-- Fin bloque body -->

{% block css%}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">

{% endblock %}
<!-- Fin bloque estilos -->

{% block js%}
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script>
    $(document).ready(function () {
        var table = $('#mytable').DataTable({
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            responsive: true
        });
        //Button 
        $('#btnEdit').click(function(){
            var id = $(this).data('id');
            alert(id);
        });
    });
</script>
{% endblock %}