{% extends 'layouts/app.html' %}

<!-- Inicio bloque body -->
{% block body %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <div class="card">
            <div class="card-body">
                <form action="" method="post">
                    <label for="category"></label>
                    <input type="text" name="category">
                    <button> Agregar</button>
                </form>
            </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
<!-- Fin bloque body -->

{% block css%}

{% endblock %}
<!-- Fin bloque estilos -->

{% block js%}
<script>
    //alert("hello");
</script>
{% endblock %}
<!-- Fin bloque scripts -->