{% extends 'layouts/app.html' %}

<!-- Inicio bloque body -->
{% block body %}
<div class="container">
    <h1 class="mt-5">Nombre: {{user.name}}</h1>
    <h1 class="mt-5">Apellidos: {{user.surname}}</h1>
    <p class="lead">Pin a footer to the bottom of the viewport in desktop browsers with this custom HTML and
        CSS. A fixed navbar has been added with <code class="small">padding-top: 60px;</code> on the <code
            class="small">main &gt; .container</code>.</p>
    <p>Back to <a href="#">the default sticky footer</a> minus the navbar.</p>
</div>

{% endblock %}
<!-- Fin bloque body -->

{% block css%}

{% endblock %}
<!-- Fin bloque estilos -->

{% block js%}
<script>
    //alert("hello");
</script>
{% endblock %}
<!-- Fin bloque scripts -->